aside {
    margin-top: 8%;
    min-height: 90vh;
    width: 33%;
    background: 
        linear-gradient(
            to right, 
            $primaryColour,
            $primaryColour 25%,
            $secondaryColour 25%
            $secondaryColour 75%
            );

    .asideWrapper {
        .asideImage {
            max-width: 513px;
            max-height: 433px;
            
            img {
                width: 100%;
                position: relative;
                top: -25px;
                left: 0;
            }
        }
    }  
}

.asideContainer {
    
    padding: 0 5% 0 28%;
    display: flex;
    flex-direction: column;
}

.asideText {
    display: flex;
    flex-direction: column;

    .blogAboutPlanted {
        padding-bottom: 25px;
    }

    h3 {
        text-transform: capitalize;
        margin: 0;
    }

    span a {
        font-style: italic;
        color: $tertiaryAccent;
        font-weight: 700;
    }

    .recentPosts {    
        ul {
            line-height: $primaryLineHeight;
            
            li {
                &::before {
                    color:$secondaryAccent; 
                    content: "\2022"; 
                    font-size: 1em; 
                    position: relative;
                    top: 0; 
                    left: -25px;
                //idea from LockDown Design https://www.lockedownseo.com/change-the-bullet-color-of-a-list-item-with-css/ because for some reason my bullets wouldn't display, even using the !important feature - the only other location that I styled lis as list-style-type:none was in my global stylesheet. 
                }

                a:hover {
                    color: $secondaryAccent;
                }
            } //li ends here
        } //ul ends here 
    } //recentPosts ends here
} //aside Text ends here

aside nav a {
    color: black;   
} //aside styling ends here

//media queries begin here
@include desktopLarge {
    aside { 
        background: $secondaryColour;
    }

    .asideContainer {
        padding-left: 5%;
    }

    .recentPosts ul li a {
        margin-left: -15px;
    }
}

@include desktopSmall {
    aside {
        min-height: 45vh !important;
    }

    .recentPosts ul {
        padding: 0;
    }
    .recentPosts ul li a {
        margin-left: 10px;
        @include fontSize(16);
    }
    .recentPosts ul li::before {            
        left: 0 !important;
    }
} //desktopSmall ends here

@include tabletLarge {
    aside {
        order: -1;
        width: 100%;
        margin: 0;
        padding: 5%;  
    }

    .asideImage {
        display: none;
    }
    .recentPosts ul li a {
        @include fontSize(20);
    }
} //tabletLarge ends here

@include phone {
     .recentPosts ul li a {
        @include fontSize(17);
    }
} //phone media query ends here


