.blogHeader {
    background: url('../assets/blogHeader.jpg') no-repeat;
    height: 60vh;
    background-size: cover;

    .topBar {
        background-color: darken($black, 10%);
    
        ul {
            .blogItem  {
                a {
                    color: $primaryAccent;
                }
            }
        }
    } // .topBar styling ends here

    .blogTitle {
        width: 20%;
        height: inherit;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0 0 7% 10%;
            
        h1 {
            color: $primaryAccent;
            @include fontSize(80);
            line-height: 92px;
            margin: 0; 
        }
    } //blogTitle ends here
} //.blogHeader styling ends here

//media queries begin here
@include tabletLarge {
    header {
        order: -2;
    }

    .blogHeader {
        height: 40vh;

        .blogTitle h1 {
            @include fontSize(100);
            padding-left: 0;
        }
    }

    .blogHeader .blogTitle {
        margin: 0;
        padding-left: 5%;
    }
} //tabletLarge media query ends here

@include phone {
    .blogHeader {
        .topBar {
            background:none;
        }
    } 
} //phone media query ends here