.commentsContainer {
    width: 75%;
    padding: 2% 5% 10% 5%;
    float: left;
    
    .commentsTitle {
        letter-spacing: $primaryLetterSpacing;
    }
    
    .profileContainer {
        padding-top: 2%;
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    figure {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10%;

        .profileImage {
            width: 20%;
    
            img {
                margin-top: 10px;
                width: 75%;
            }
        }

        figcaption {
            width: 75%;
        
            h4{
                @include fontSize(20);
                color: $tertiaryAccent;
                line-height: $primaryLineHeight;
                font-weight: 700;
                margin: 0;
            }

            p {
                margin: 0;
            }
        
        } //figcaption styling ends here
    } //figure styling ends here  
}//commentsContainer styling ends here


@include tabletLarge {
    .commentsContainer {
        padding: 0;
        width: 100%;
    }

}


