.contact {
    background-image: url('../assets/contactHeader.jpg');
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;

    .topBar {
        background-color: darken($black, 10%);
    
        ul {
            .contactItem  {
                a {
                    color: $primaryAccent;
                }
            }
        }
    }

    .contactTitle {
        width: 20%;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        // padding-bottom: 2%;
        margin-left: 15%;
            
        

        h1 {
            color: $primaryAccent;
            @include fontSize(80);
            line-height: 92px;
            margin: 0;
            align-items: center;
         
          
        }
    }
   
}

