.headerContent {
    position: relative;
    height: 100%;
}

.formContainer {
    height: 55vh;
    width: 55%;
    background-color: $secondaryColour;
    box-shadow: $boxShadowRight;
    position: absolute;
    bottom: -300px;
    right: 100px;
    z-index: 10px;

    .contactForm {
        padding: 5% 5%;
        width: 95%;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .topForm {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    } //.contactForm ends here
} //.formContainer ends here

// media queries begin
@include desktopSmall {
     .formContainer {
        position: static !important;  
    }

    .formContainer .contactForm .topForm {
        display: flex;
        flex-direction: column;
    }

    .formContainer input[type="text"],
    .formContainer input[type="email"] {
        width: 100%;
    }
} //desktopSmall media query ends here

@include tabletLarge  {
     .formContainer {
        width: 85%;
    }
} //.tabletLarge media query ends here