.infoContainer {
    height: 50vh;
    padding-left: 10%;
    background-color: $primaryColour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .socialMediaIcons {
        width: 125px;
        .socialMediaNav ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
    } //.socialMediaIcons styling ends here

    ul li a {
        color: $secondaryAccent;
        font-size: 1.3rem;
    }

    p {
        margin: 0;
    }

    h3 {
        margin: 0;
        font-weight: 400;
        font-size: 1.5rem;
        padding: 10px 0;
    }
} //.infoContainer styling ends here

// media queries begin
@include desktopSmall {
    .infoContainer {
        padding: 0;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .infoContainer .socialMediaIcons {
        width: 220px;
    }
} //desktopSmall media query ends here