.contact {
    background-image: url('../assets/contactHeader.jpg');
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;

    .topBar {
        background-color: darken($black, 10%);
    
        ul {
            .contactItem  {
                a {
                    color: $primaryAccent;
                }
            }
        }
    } // .topBar ends here

    .contactTitle {
        width: 20%;
        height: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: 15%;
            
        

        h1 {
            color: $primaryAccent;
            @include fontSize(80);
            line-height: 92px;
            margin: 0;
            align-items: center;
         
          
        }
    }
   
} // .contact general styling ends here

// media queries begin
// @media(max-width: 1186px)
@include desktopSmall {
    .contact { 
        height: 70vh;
        display: flex;
        flex-direction: column;
    }
        
    .contact.logo {
        flex: 0 0 100%;
    } 
    .contact .topBar ul {      
        display: none;
    }
    
    .headerContent {
        position: static !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact .contactTitle {
        margin: 0;
        padding-top: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
     .formContainer {
        position: static !important;
        
    }
  
} //1186 media query ends here

// @media(max-width: 700px)
@include tabletLarge {
    .contact .contactTitle h1 {
        @include fontSize(65);
    }
}

// @media(max-width: 400px)
@include phone {
    .contact .contactTitle h1 {
        @include fontSize(50);
    }
}