.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    color: $secondaryColour;
    @include fontSize(20);
}

.topBar,
    a {
        color:$secondaryColour;
    }

button,
input[type="submit"] {
    color: $secondaryColour;
    background-color: $secondaryAccent;
    border: none;
    text-transform: capitalize;
    margin-bottom: 10%;
    height: 50px;
    width: 25%
}

input[type="text"],
input[type="email"] {
    height: 50px;
    line-height: $primaryLineHeight;
}



