header {
    
    .headerWrapper {
        margin: 0;
        font-family: $primaryFont;
    }
    
    .topBar {
        padding: 0 10%;
        height: 60px;
        display: flex;
        align-items: center;
    
        .logo {
            flex: 0 0 10%;
             padding-right: 2%;
            
            h2 {
                font-weight: 400;
               
                margin: 0;
            }
        }
    }
}
        
 header .topBar ul {
    display: flex;
    margin: 0; 
    padding: 0;
    flex:1 0;
    
    li {
        flex: 0 0 10%;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: $secondaryLetterSpacing;
        font-weight: 700;
        @include fontSize(24);

        a:hover {
            color: $primaryAccent;
        }
    }
}
//header styling ends here
//media queries begin here   
    
// @media(max-width: 930px)
 @include tabletLarge {
    header {
        .logo {
            flex: 0 0 100%;
            
        } 
        .topBar {
            ul {
                display: none;
            }
        }

    }
}

