.connect {
    height: 75vh;
    background-color: $primaryColour;
    display: flex;
    flex-wrap: wrap;
    padding: 5% 13% 5% 13%;
    margin: 0;

    .connectItems {
        display: flex;
        justify-content: space-between;
    }

    .connectItem {
    display: flex;
    position: relative;
    padding-right: 25px;
// general stylying for all before elements
        &::before {
            content:'';
            background-color: $primaryAccent;
            width: 30px;
            height: 20px;
            border-radius: 50%;
            padding: 2%;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 15px;
            left: -10px;
        }
    }
    
    .icon {
        width: 100px;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;

        i {
            z-index: 50;
            @include fontSize(35);
           

        }
    }

    //  .icon .fa-users {
    //     left: -2px;
    // }
    // .icon .fa-file {
    //     left: 5px;
    // }
  
    .connectText h3,
    .connectText p {
        color: $black;
        line-height: $primaryLineHeight;
    }
}   