.founderContainer {
    height: 60vh;
    background-color: $primaryColour;
    
    .founderContent {
        height: inherit;
        margin: 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .founderImage {
            box-shadow: 20px 20px $primaryAccent; 
        }

        .founderImage img {
            display: block; //removes white space from bottom of image
        }

        .founderText {
            min-height: 304px;
            width: 70%;
            display: flex;
            flex-direction: column;
            padding-left: 5%;
            position: relative;        
             
            .founderTitle {
                @include fontSize(42);
                margin: 0;
                letter-spacing: $secondaryLetterSpacing;
            }

            p {
                padding: 2.5% 0 5% 0;
                margin: 0;
            }
            
            button {
                margin: 2% 0 0 0;
                position: absolute;
                bottom: -20px; //same height as box shadow $primaryAccent  
            }
        }
    }
} //founderContainer styling ends here

@include desktopSmall {
    .founderContainer {
        .founderContent {
            margin: 0 5%;
    
            button {
                width: 50%
            }
            
        }
    }
} //desktopSmall ends here

@include tabletLarge {
    .founderContainer {
        height: 80vh;
        margin: 10% 0%;
        
        .founderContent {
            flex-direction: column;
            justify-content: center;

            .founderText {
                padding: 10% 0 0 0;
                width: 100%;
                text-align: center;

                button {
                   width: 100%
                } //button
            } //founderText
        } //founderContent
    } //founderContainer
} //tabletLarge ends here

@include tabletSmall {
    .founderImage {
        display: none;
    }

    .founderContainer {
        height: 50vh;
    }

    .founderText {
        height: inherit;
    }
}

@include phone {
    .founderContainer {
        height: 60vh;
    }
    
    .founderText {
        height: inherit;
    }
}