header {
    background: url('../assets/homeHeader.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    
    .homeTitle {
        z-index: 20;
        height: calc(100% - 90px);
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: $primaryLetterSpacing;
        // border: 2px solid green;
        
        h1 {
            margin: 0;
            font-weight: 400;
            // border: 2px solid white;
            
        }

        span {
            display: block;
            text-transform: lowercase;
            // border: 2px solid pink;
        }
    }
    
  
    .headerImageContainer {
        background: url('../assets/homeHeaderBox.jpg') no-repeat;
        background-size: cover;
        height: 85%;
        width: 45%;
        z-index: 10;
        position: absolute;
        top: 25%;
        right: 0;
    }
}
@media(max-width: 930px) {
    header {
        // .headerImageContainer {
        //     height: 75%;
        // }
    }   
}
@media(max-width: 580px) {
    header {
        .homeTitle h1 {
            @include fontSize(125)
        }
    }

}

@media(max-width: 430px) {
    header {
        height: 60vh;
        
        .logo h2{
             @include fontSize(28)
        }
        .homeTitle {
            padding: 0 2%;
        }
        .homeTitle h1 {
            @include fontSize(80)
        }
    }
}

