header {
    background: url('../assets/homeHeader.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    
    .homeTitle {
        z-index: 20;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: $primaryLetterSpacing;
        
        h1 {
            margin: 0;
            font-weight: 400;
        }

        span {
            display: block;
            text-transform: lowercase;
        }
    } //homeTitle ends here

    
    
  
    .headerImageContainer {
        background: url('../assets/homeHeaderBox.jpg') no-repeat;
        background-size: cover;
        height: 85%;
        width: 45%;
        z-index: 10;
        position: absolute;
        top: 25%;
        right: 0;
    }
} //header styling ends here

//---media queries begin here 

// @media(max-width: 930px) {

// }
@media(max-width: 580px) {
    header {
        .homeTitle h1 {
            @include fontSize(125)
        }
    }

} //580 ends here

@media(max-width: 430px) {
    header {
        height: 60vh;
        
        .logo h2{
             @include fontSize(28)
        }
        .homeTitle {
            padding: 0 2%;
        }
        .homeTitle h1 {
            @include fontSize(80)
        }
    }
} //430 ends here

