.connect {
    width: 80%;
    min-height: 75vh;
    background-color: $primaryColour;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 5% 0 5% 0;
    margin: 0 10%;

    .connectItems {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px;
    }

    .connectItem {
        position: relative;
    }
    
    .icon {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
        background: $primaryAccent;
        border-radius: 50%;
        position: absolute;
        top: 20px;
        left: -60px;

        i {
            @include fontSize(25);
        }
    }

    .icon .fa-leaf,
    .icon .fa-users {
        padding-left: 5px;
    }

    .icon .fa-phone {
        padding-left: 7px;
    }
  
    .icon .fa-file {
        padding-left: 10px;
    }
  
    .connectText {
        width: 80%;
    }

    .connectText h3,
    .connectText p {
        color: $black;
        line-height: $primaryLineHeight;
    }
} // connect styling

//media queries begin here
@include  desktopSmall {
    .connect {
        flex-wrap: nowrap;
        
        flex-direction: column;
        padding: 0;
    }

    .connect .connectItems {
        grid-template-rows: 150px 150px;
    }
} //desktopSmall media query ends here

@include  tabletLarge {
    .connect {
        padding: 0 0 10% 0;
        width: 90%;
        margin: 0 5%;
        
        .connectText {
            width: 100%;
        }
        .connectItems {
            display: flex;
            flex-direction: column;
            text-align: center;

            .icon {
                display: none;
            }
        }
    } //.connect media query styling ends here 
} //tabletLarge media query styling ends here


