.aboutPlanted {
    background-color: $primaryColour;
    height: 80vh;
    .aboutText {
        height: inherit;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 75%;
    
        h2,
        p {
            margin: 0;
            padding-bottom: 2.5%;
            text-align: center;
        }
    }
} // general .aboutPlanted styling ends

// media queries begin
@media(max-width: 930px) {
    .aboutPlanted {
        height: 75vh;
    }
} //media query ends here

@media(max-width: 760px) {
    .aboutPlanted {
        button {
            width: 30%;

            a {
            @include fontSize(18);
            }
        }
    }
} //media query ends here

@include tabletSmall {
    .aboutPlanted {
        height: 90vh;
    }

    .aboutPlanted button {
            width: 35%;

        a {
            @include fontSize(16);
        }
    }
} // tabletSmall media query styling ends here   

@include phone {
    .aboutPlanted { 
        height: 100vh;
         
        button {
            width: 50%;

            a {
                @include fontSize(16);
            }
        }
    }
} // phone media query end here