.plantedArticles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .articleOne,
    .articleTwo {
        width: 670px;
        height: 760px;
        display: flex;
        flex-direction: column;
    }

    .articleOne, 
    .articleTwo {
        justify-content: space-between;
    }
      
    .articleOneText {
        flex-direction: flex-end;
        margin-left: 10%;
        text-align: right; 
    }     

    .articleTwoText {
        flex-direction: flex-start;
        margin:11% 10% 0 0;  
    }
     
// Adding Box Shadow to images
    .articleOneImage {
        position: relative;
        
        img {
        position: absolute;
        top: -35px;
        box-shadow: $boxShadowRight;
        }
    }

    .articleTwoImage {
        position: relative;

        img {
            position: absolute;
            bottom: -35px;
            box-shadow: $boxShadowLeft;
        }  
    }
} //general .plantedArticles styling ends

//media queries begin
@media(max-width: 1400px) {
    .plantedArticles {
        justify-content: center;
    
        .articleTwoImage{
            order: -1;
            margin-top: calc(760px / 2);
        }
    }
} //1400 media queries styling ends here

@media(max-width: 720px) {
    .plantedArticles {
        .articleOne,
        .articleTwo {
            justify-content: space-between;
            align-content: stretch;
            height: 600px;
        }
       
        .articleOneImage,
        .articleTwoImage{
            margin-top: -50px;
            background-size: cover;
            height: 40vh;  
    
            img {
                display: none;
            }
        }
    
        .articleOne {
            .articleOneImage {
                background-image: url('../assets/homeArticlesFlowers01.jpg');
                box-shadow: 20px 20px $primaryAccent;
            }
        }

        .articleTwo {
            .articleTwoImage {
                background-image: url('../assets/homeArticlesFlowers02.jpg');
                margin-top: 0;
                box-shadow: -20px 20px $primaryAccent; 
            }
        }
        .articleOneText,
        .articleTwoText {
                margin: 2% 5%;
        }
    }
} //720px media query ends here

@include tabletSmall {
    .plantedArticles {
         button {
            width: 30%;

            a {
                @include fontSize(18);
            }
        }
    }
} //tabletSmall media query ends here

@include phone {
    .plantedArticles {
        .articleOne .articleOneImage,
        .articleTwo .articleTwoImage {
            width: 300px;
        }
        
        .articleOne {
            .articleOneImage {
                margin-right: 5%;
                box-shadow: 20px 20px $primaryAccent;
            }
        }

        .articleTwo {
            .articleTwoImage {
                margin-left: 5%;
                box-shadow: -20px 20px $primaryAccent;
            }
        }
    } //plantedArticles styling nest ends here
        
    .plantedArticles  {
        .readMore {
            width: 100%;
    
            a {
                @include fontSize(18);
            }
        }
    }
} //phone media query styling ends here


