.banner {
    background-image: url('../assets/homeBanner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 58vh;
   
}

@media(max-width: 1470px) {
    .banner {
        background-position: top center; 
    }
}
@media(max-width: 930px) {
    .banner {
        background-position: top left; 
    }
}

@media(max-width: 635px) {
    .banner {
        background-position: 10% 100%; 
    }
}

@media(max-width: 600px) {
    .banner {
        background-position: 85% 100%; 
    }
}

@media(max-width: 430px) {
    .banner {
        background-position: top center; 
    }
}