.banner {
    background-image: url('../assets/homeBanner.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 58vh;
   
}

@media(max-width: 1470px) {
    .banner {
        background-position: top center; 
    }
} //media query ends here

@include tabletLarge {
    .banner {
        background-position: top left; 
    }
} // tabletLarge media query ends here

@include tabletSmall {
    .banner {
        background-position: 85% 100%; 
    }
} //tabletSmallmedia query ends here

@include phone {
    .banner {
        background-position: top center; 
    }
} //phone media query ends here