body {
    font-family: $primaryFont
}

h1,
h2, 
h3 {
    font-weight: 700;
}

h1 {
    @include fontSize(166);
}

h2 {
    @include fontSize(56.3);
}

h3 {
    @include fontSize(32);
}

p {
    font-family: $secondaryFont;
    @include fontSize(20);
}

input[type="text"],
input[type="email"] {
    font-family: $primaryFont;
    font-weight: 300;
    line-height: $primaryLineHeight;
}

button,
input[type="submit"] {
    font-family: $primaryFont;
    @include fontSize(20);
    line-height: $primaryLineHeight;
}


